body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: indigo;
}
.card-header{
    background-color: rgb(239, 212, 247);
}
img{
    max-width: 100px;
    max-height: 50px;
}

.white{
    color: rgb(239, 212, 247);
    text-align: center;
}